body {
    background-color: rgb(126, 150, 154);
    color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
}



p, ul, ol, table {
    text-align: left;
    max-width: 700px; 
    margin: 0 auto 1em auto;
    line-height: 3;

}



h1 {
color: black;
text-decoration: underline;
background-color: rgb(91, 127, 115);
font-size: 3em;
}

ul, ol, p {
padding-left: 180px;
}

table {
    color: black;
    background-color: rgb(91, 127, 115);;
    width: 60%;
    box-shadow: 15px 15px 10px black;
}

img {
    width: 450px;
    border: 5px solid black;
}



